// @screen-xs:                   480px;
@screen-sm:                   768px;
// @screen-md:                   992px;
@screen-lg:                   1200px;
// @screen-xl:                   1920px;

// @container-xs:                   480px;
@container-sm:                   768px;
// @container-md:                   992px;
@container-lg:                   1200px;
// @container-xl:                   1920px;


@text-color:                  #000;

@font-title:                  'PT Serif', serif;
@font-text:                   'Fira Sans', sans-serif;
@font-tel:                    'PT Sans', sans-serif;
@font-size:                   14px;

//цвета, размеры шриф,ширины контейнеров,экрана