.footer-link {

    &__link {
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 10px 5px 0 15px;
    vertical-align: middle;
      

    &--vk {
      background-image: url('../img/footer-vk.png');
      margin-top: 15px;
    }
    &--ins {
      background-image: url('../img/footer-inst.png');
    }
    &--fb {
      background-image: url('../img/footer-fb.png');
    }
  }
}