.page-footer {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;

  &__inner {
    margin: 0 auto;

    @media(min-width: @screen-xs) {
      width: @container-xs;
      text-align: center;
    }

    @media(min-width: @screen-sm) {
      width: @container-sm;
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: @screen-lg) {
      width: @container-lg;
      display: flex;
      justify-content: space-between;
    }
  }

  &__contact {
    display: none;
    align-self: center;

    a {
      color: #000;
    }


    @media(min-width: @screen-sm) {
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    @media(min-width: @screen-lg) {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }


.main-logo {
  align-self: center;
  font-size: @font-size+1;
  text-transform: uppercase;
  height: 55px;
  font-family: @font-title;

  & span, & img {
    display: inline-block;
    vertical-align: middle;
    color: #0ab89d;
  }
}
}
// необходимо вырезать иконки соцсетей