.page-header {
  color: @text-color;

	&__inner{
		margin: 0 auto;
		text-align: center;
		position: relative;

		@media (min-width: @screen-lg) {
      padding: 0; 
			width: @container-lg;
			display: flex;
			align-items: center;
			justify-content: space-between;
	 	}
	}

	&__contacts{
		display: none;
    text-align: left;

		@media (min-width: @screen-lg) {
	        display: block;
	    }
	}
	.btn {
		display: none;

		@media (min-width: @screen-lg) {
	        display: block;
	    }
	}

  &__phone-link {
  font-family: @font-tel;
  font-size: @font-size18;
  font-weight: Bold;
  display: inline-block;
  padding-bottom: 10px;
  color: #000;
  text-align: left;
  }

}

.main-logo {
	
	font-size: @font-size+1;
	text-transform: uppercase;
	height: 55px;
	font-family: @font-title;
  display: block;
  margin: 10px 0;


	& span, & img {
		display: inline-block;
		vertical-align: middle;
    color: #0ab89d;
	}
}



.main-nav {
  display: none;
  
  @media (min-width: @screen-lg) {
    margin-right: 35px;
    display: block;
  }

  &__item-active a {
    color: @color-orange;
  }

	&__item {
	display: block;	
	text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  padding: 17px 0;
  
  @media (min-width: @screen-lg) {
    border: 0;
  }  

  &:first-child {
  border-top:  1px solid #ebebeb;
      @media (min-width: @screen-lg) {
    border: 0;
  } 
}

  a {
    color: @text-color;

    &:hover {
      color:@color-orange;
    }
  }



		@media (min-width: @screen-lg) {
			display: inline-block;
      padding-right: 15px;
		}
	}
	&__list {
		padding-left: 0;
    margin: 0;
    @media (min-width: @screen-lg) {
      margin: 15px 0;
    }
	}

  &__item--active {
  color: #ff7435;
  font-weight: 500; 
  }

}


.gamburger {
	position: absolute;
	top: -17px;
	right: 0;
  display: block;
  margin-top: 25px;
  cursor: pointer;
  span {
  	position: relative;
    margin-right: 10px;
  	width: 40px;
  	height: 5px;
  	background-color: @color-orange;
  	display: inline-block;
    cursor: pointer;

  	@media (min-width: @screen-lg) {
  		display: none;
  	}
  	&:before {
  		content: "";
      cursor: pointer;
  		position: absolute;
  		top: 10px;
  		right: 0px;
  		width: 40px;
  		height: 5px;
  		background-color: @color-orange;

  	}
  	&:after {
  		content: "";
  		position: absolute;
      cursor: pointer;
  		top: 20px;
  		right: 0px;
  		width: 40px;
  		height: 5px;
  		background-color: @color-orange;

  	}
  }
}



