.payment {

  &__inner {
    width: @container-xs;


    margin: 0 auto;
    @media(min-width: @screen-sm) {
      flex-direction: row;
      width: @container-sm;
      display: flex;
    }

    @media(min-width: @screen-lg) {
      width: @container-lg;
      // display: flex;
    }
  }

  &__total-payment {

    @media(min-width: @screen-sm) {
    order: -1;
  }
  }

  &__btn {
    flex-basis: 100%;
  }

  &__total-payment {
    // width: 30%;
  }
}
