.rest-type-switcher {
	text-align: center;
	display: flex;
	flex-direction: column;


    
	&__item {
		display: inline-block;
		text-transform: uppercase;
		padding-right: 20px;

		a {
			text-decoration: none;
			color: #838383;
		}

		&--active {
			position: relative;

			a {
				color: @color-orange;	
			}

			&:before {
				position: absolute;
				content: "";
				width: 32px;
				height: 3px;
				background-color: @color-orange;
				bottom: -10px;
				right: 50%;
				transform: translateX(50%);
			}
		}
	}

	&__type {
		order: 1;
	}

	&__type-item {
	background-size: cover;
	background-position: bottom;
	display: none;
	text-align: left;
	display: none;

		&:first-child {
			background-image: url('../img/main-gall-1.png');
		}

		&:last-child {
			background-image: url('../img/main-gall-2.png');
		}

		&--active {
			display: block;
		}
  }



	&__type-item--active {
			display: block;
	}

	&__type-inner {
		padding: 19px 0;
		text-align: center;
		margin: 0 auto;

	  @media (min-width: @screen-xs) {
      width: @container-xs;
    }

		@media (min-width: @screen-sm) {
			width: @container-sm;
			display: flex;
			flex-direction: column;
			text-align: left;
		}

		@media (min-width: @screen-lg) {
			width: @container-lg;
			padding: 70px 0;
			display: flex;
			flex-direction: column;
			text-align: left;
		}

		p {
			padding: 10px;
			background-color: @color-white;
		}

	}

	&__type-title {
		padding: 8px;
		background-color: @color-white;
		font-family: @font-title;
		font-size: @font-size36;
	  font-weight: 500;

	  @media (min-width: @screen-sm)  {
	  	display: inline-block;
	  }
		
		@media (min-width: @screen-lg) {
			display: inline-block;
		}

	}

	&__tab {
		order: 2;
	}

	&__options {
		order: 3;
	}

	&__options-item {
		padding: 40px 0;
		background-image: url(../../img/helth.png);
		background-size: cover;
		background-position: center;
		opacity: 1;
		background-color: #fff;

		p {
			font-size: 16px;
			margin: 0;
		}
	}

	&__options-title {
		font-family: @font-title;
		font-size: 30px;
		font-weight: 400;
	}

	&__options-item {
		display: none;
	}

	&__options-item--active {
		display: block;
	}

	&__options-list {
		display: none;

		@media(min-width: @screen-sm) {
			padding: 0 140px;
			display: inline-flex;
			list-style-type: none;
			justify-content: center;
			flex-wrap: wrap;
		}

		@media(min-width: @screen-lg) {
			width: @container-lg;
			display: inline-flex;
			list-style-type: none;
			justify-content: center;
		}
		

		li {
			width: 25%;

			@media(min-width: @screen-sm) {
				width: 80px;
				margin-right: 54px;
			}

			@media (min-width: @screen-lg) {
				width: 80px;
				margin-right: 54px;
			}
		}
	}

	&__option-pict {
		display: block;
		width: 80px;
		height: 80px;
		border-radius: 50px;
		background-position: center;
	}

	&__option-text {

	}
}