.reviews {
  background-color: @color-green;
  background-image: url('../img/reviews-bg.png');
  background-size: cover;
  padding: 69px 0 55px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: @screen-sm) {
    flex-direction: column;
  }

  @media (min-width: @screen-xs) {
    flex-direction: column;
  }

  @media (min-width: @screen-lg) {
    padding: 50px 0;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    // width: @container-xs;

    @media (min-width: @screen-sm) {
      width: @container-sm;
    }

    @media (min-width: @screen-lg) {
      width: @container-lg;
    }

  }

  &__title {
    color: @color-white;
    font-family: @font-title;
    font-size: @font-size30;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin-bottom: 54px;

    @media (min-width: @screen-lg) {
      margin-bottom: 49px;
    }
  }

  &__item {
    background-color: #fff;
    padding: 70px 40px;
    text-align: center;
    margin: 20px 0;
    position: relative;
    display: none;
    outline: none;
    // margin-right: 0;
    width: 100vw;
    border: 1px solid @color-border;

    @media(min-width: @screen-xs) and (max-width: 479px){
      width: 100vw;
      // margin-right: 20px;
    }

    &:first-child {
      display: block;
    }

    @media (min-width: @screen-sm) and (max-width: 1259px){
      width: 479px;
      display: none;
      margin-right: 20px;
      &:first-child {
        display: block;
    }
  }

    @media (min-width: @screen-lg) {
      width: 470px;
      margin-left: 20px;
      &:first-child {
        display: block;
      }
  }

    &:after {
      position: absolute;
      content: "";
      background: url('../../img/ic-vk.png');
      width: 22px;
      height: 13px;
      background-repeat: no-repeat;
      top: 90px;
      right: 50%;
      transform: translateX(50%);
    }
  }

    &__img {
      position: absolute;
      top: -30px;
      left: 44%;


      @media(min-width: @screen-sm) {
        left: 50%;
      }
    }

    &__review-text {
      font-size: @font-size16;
    }


    &__author {
      margin-bottom: 30px;
      display: inline-block;
      font-weight: 500;
    }

    .slick-next {
      right: 0;
    }

    .slick-slider {
      width: 96.5vw;
      margin: 0;

      @media (min-width: @screen-sm) {
        width: 100%;
      }

      @media (min-width: @screen-lg) {
        width: 976px;        
      }
    }

    .slick-prev:before, .slick-next:before {
      content: "";
      
      @media (min-width: @screen-lg) {
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }

    }

    .slick-next:before, [dir=rtl] { 
      transform: rotate(45deg);
      left: 40px;

    }

    .slick-prev:before {
      transform: rotate(226deg);
      right: 10px;
    }

  .slick-active {
    @media (min-width: 0) and (max-width: @screen-sm) {
      width: 100%;
    }
  }

  .check {
    
  }
  
  }




