.room-details {
  padding: 50px 0;
  text-align: center;
  margin: 0 auto;

  @media(min-width: @screen-xs) {
    width: @container-xs;
    // display: flex;
    // flex-direction: column;
  }

  @media(min-width: @screen-sm) {
    width: @container-sm;
    // display: flex;
    // flex-direction: column;
  }

  @media(min-width: @screen-lg) {
    width: @container-lg;

  }

  &__title {
    font-size: @font-size30;
    margin-bottom: 18px;
  }

  &__item {
    margin: 50px 0;
    text-align: left;

    @media(min-width: @screen-xs) and (max-width: 767px) {
      width: 321px;
      display: flex;
      flex-direction: column;
    }

    @media(min-width: @screen-sm) and (max-width: 1259px){
      width: 768px;
      display: flex;
      flex-direction: column;
    }

    @media(min-width: @screen-lg) {
      display: flex;
      justify-content: center;
    }
  }

  &__img {

    // @media(min-width: @screen-xs) {
    //   width: 321px;
    // }

    // @media(min-width: @screen-sm) {
    //   width: 768px;
    // }

    // @media(min-width: @screen-lg) {
    //   width: 580px;
    // }
  }

  &__discription {

    @media(min-width: @screen-xs) and (max-width: 767px) {
      width: 321px;
      order:1;
    }

    @media(min-width: @screen-sm) and (max-width: 1259px){
      width: 768px;
      order:1;
    }

    @media(min-width: @screen-lg) {
      width: 580px;
    }
  }

  &__title-item {
    font-size: @font-size26;
  }

  &__inner {
    @media(min-width: @screen-xs) and (max-width: 767px) {
      width: 321px;
    }

    @media(min-width: @screen-sm) and (max-width: 1259px){
      width: 768px;
    }

    @media(min-width: @screen-lg) {
      width: 580px;
    }
  }

  &__text {
    font-size: @font-size16;
    padding: 25px 0;
  }

  &__advantages {
    font-size: @font-size16;
    list-style-type: none;

    @media(min-width: @screen-sm) {
      columns: 2;
    }

    @media(min-width: @screen-lg) {
      columns: 2;
    }

    li {
      position: relative;
      padding-left: 20px;
    }

    li:after {
      content: "";
      border-top: 2px solid @color-orange;
      border-right: 2px solid @color-orange;
      width: 10px;
      height: 10px;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(45deg);
    }
  }
&__bonus {
  font-size: @font-size16;
  list-style-type: none;
}

}