body {
  //.some-mixin();	
  min-width: 320px;
  margin: 0;
  font-family: @font-text;
  color: @text-color;
  // background-color: green;
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}


// Body reset

html {
  font-size: @font-size;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  // font-family: @font-family-base;
  // font-size: @font-size-base;
  // line-height: @line-height-base;
  // color: @text-color;
  // background-color: @body-bg;
  text-transform: uppercase;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a {
  // color: @link-color;
  // text-decoration: none;

  &:hover,
  &:focus {
    // color: @link-hover-color;
    // text-decoration: @link-hover-decoration;
  }

  // &:focus {
  //   .tab-focus();
  // }
}

img{
	max-width: 100%;
}

// h1, h2, h3, p {
//   margin: 0;
// }

h1, h2, h3 {
  // font-family: @font-title;
  font-weight: 400;
}

.line-break {
  display: block;
   @media (min-width: @screen-sm) {
    display: inline-block;
  }
}

header {
  // margin-bottom: 65px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 35px 0 ;
  justify-content: space-between;
  // border-bottom: 1px solid #dcdcdc;
  width: 250px;
  margin: 0 auto;

  @media (min-width: @screen-sm) {
    justify-content: center;
    width: 580px;
    justify-content: space-between;
  }

  @media (min-width: @screen-lg) {
    padding: 40px 0;
    width: 1016px;
  }
}

.gamburger {
  position: relative;
  bottom: 5px;
  left: 0;
  display: block;
  cursor: pointer;

  span {
    position: relative;
    left: 4px;
    width: 20px;
    height: 1px;
    background-color: #767676;
    display: inline-block;
    cursor: pointer;

    @media (min-width: @screen-sm) {
      display: none;
    }

    &:before {
      content: "";
      cursor: pointer;
      position: absolute;
      top: 4px;
      right: 0px;
      width: 20px;
      height: 1px;
      background-color: #767676;
    }

    &:after {
      content: "";
      position: absolute;
      cursor: pointer;
      top: 8px;
      right: 0px;
      width: 20px;
      height: 1.4px;
      background-color: #767676;
    }
  }
}

.main-menu {
  display: none;
  list-style-type: none;    
  padding: 0;
  order:1;
  width: 100%;
  
  @media (min-width: @screen-sm) {
    width: 84%;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    order:0;
  }   

  @media (min-width: @screen-lg) {
    justify-content: space-between;
    align-items: center;
    width: 91%;
  }
  &__item {
    cursor: pointer;
    padding: 15px 0 15px 0;

    &:last-child {
      padding-bottom: 0;
    }

    @media (min-width: @screen-sm) {
      padding-right: 70px;

      &:last-child {
        margin-left: 57px;
      }
    }

    @media (min-width: @screen-lg) {
      padding: 0;

      &:last-child {
        margin: 0;
      }
    }
    
    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.switcher {
  color: #888888;
  display: flex;
  justify-content: space-between;
  width: 61px;

  @media (min-width: @screen-sm) {
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
  }

  @media (min-width: @screen-lg) {
    padding: 0;
    align-items: center;
  }
  
  &__btn {
    padding-top: 2px;
    display: inline-block;
    cursor: pointer;
    align-self: center;
  }

  &__btn-active {
    color: #000;
  }
}

.logo, .logo-item, .footer-logo {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  font-weight: 200;
  text-transform: lowercase;
}

.logo-item {    
  @media (min-width: @screen-sm) {
    display: none;
  }

  @media (min-width: @screen-lg) {
    display: block;
    font-size: 22px;
    padding-bottom: 10px;
  }
}

.logo {
  display: block;
  letter-spacing: 3px;
  text-align: center;
  width: 92px;
  margin-left: 4px;
  @media (min-width: @screen-sm) {
    margin-bottom: 15px;
    width: 100%;
    font-size: 22px;
  }

  @media (min-width: @screen-lg) {
    display: none;
  }
}

.offers {
  padding: 65px 0 15px 0;
 
  .small-img {
    display: block;

    @media (min-width: @screen-sm) {
      display: none;
    }
  }
   .big-img {
      display: none;

      @media (min-width: @screen-sm) {
        display: block;
        max-width: 452px;
        max-height: 252px;
      }      
    }
    &__title {
      font-size: 18px;
      letter-spacing: 4px;
      line-height: 1.34;
      margin: 18px 0 18px 0;
      @media (min-width: @screen-lg) {
        order:1;
      }
    }
    a {
      @media (min-width: @screen-lg) {
        order:1;
      }
    }
  &__size {
    display: none;
    @media (min-width: @screen-sm) {
      display: inline-block;
      text-align: right;
      font-size: 50px;
      position: absolute;
      top: 30px;
      right: 50px;
    }

    @media (min-width: @screen-lg) {
      order:1;
    }
  }

  &__view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 0 auto;
    padding: 0 1px 0 1px;    

    @media (min-width: @screen-lg) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 1016px;
      margin: 0 auto;
      justify-content: space-between;
    }
  }

  &__view-bag {
      // width: 248px;
      border: 1px solid #dcdcdc;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      padding: 32px 6px 39px 20px;
      height: 373px;
      margin-bottom: 63px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

    @media (min-width: @screen-sm) {
      width: 580px;
      height: 423px;
      padding: 45px 40px 40px 35px;
    }
    
    @media (min-width: @screen-lg) {
      width: 488px;
      height: 516px;
      margin-bottom: 45px;
    }

    a {
      letter-spacing: 1px;
      text-decoration: none;
      color: #648cff;
      width: 111px;
      padding-bottom: 3px;
      border-bottom: 1px solid #648cff;
    }
  }

  .bag20 {
    padding: 25px 5px 35px 20px;
    .offers__title {
      margin-top: 13px;
    }

  }

  .bag220 {
    padding: 13px 6px 35px 20px;
    margin-bottom: 62px;
    .offers__title {
      margin-top: 10px;
    }
  }

  .bag1200 {
    padding-top: 16px;
    margin-bottom: 47px;
    .offers__title {
      margin: 10px 0 18px 0;
    }
  }
}

footer {
  background-color: #2b2b32;
  text-align: center;
  padding: 36px 0 40px;
  color: #fff;
  
  }
  .phone, .email {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span:first-child {
      letter-spacing: 3px;
    }

    @media (min-width: @screen-sm) {
      width: 40%;
    }
  }

  .phone span:last-child, .email span:last-child {
    color: #888888;
    font-size: 14px;
    margin: 13px 0 33px 0;
    letter-spacing: 1px;
    @media (min-width: @screen-sm) {
      font-size: 16px;
    }
  }

  .email {
    span:last-child {
      text-transform: lowercase;
    }
  }

  .footer-logo {
    font-size: 22px;
    margin: 30px 0 20px 0;
    @media (min-width: @screen-sm) {
      width: 100%;
    }
  }

  .footer__inner {
    @media (min-width: @screen-sm) {
      width: 580px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

  @media (min-width: @screen-lg) {
    width: 1016px;
  }

  .footer-logo {
    margin-bottom: 15px;
  }

  .footer-logo:before  {
    content: '';
    position: relative;
    display: block;
    height: 1px;
    width: 209px;
    background: #888;
    right: 0;
    left: 0;
    bottom: 29px;
    margin: auto;
    
    @media (min-width: @screen-sm) {
      width: 100%;
    }
  }

  .rights {
    font-size: 14px;
    color: #888888;
    text-transform: none;
    // letter-spacing: 1px;
    @media (min-width: @screen-sm) {
      width: 100%;
      font-size: 16px;
    }
  }
}

// попсы

.popup-content {
  display: none;
 }

// fruits.html

.fruits {

  .offers__view {
    padding-left: 5px;
  }
  .offers__view-bag {
    padding: 29px 6px 80px 18px;
    height: 427px;
    width: 248px;
    margin-bottom: 34px;
    @media (min-width: @screen-lg) {
      width: 320px;
      height: 362px;
    }
  }

  .offers__title {
    font-size: 14px;
    letter-spacing: 2.7px;
    width: 216px;
    line-height: 1.59;
    margin: 12px 0 25px 0;
  }

  .small-img {
    display: block;
    width: 210px;
    @media (min-width: @screen-sm) {
      display: none;
    }
  }

  .big-img {
    display: none;
    @media (min-width: @screen-sm) {
      width: 100%;
      height: 100%;
    }
      
  }

  .fruit2 {
    height: 325px;
    padding: 35px 6px 80px 9px;

    .small-img {
      width: 169px;
    }

    .offers__title {
      margin-left: 9px;
    }

    a {
      margin-left: 9px;
    }
  }

  .fruit3 {
    height: 355px;
    padding: 35px 6px 80px 9px;

    .small-img {
      width: 191px;
      position: relative;
      left: -21px;
    }

    .offers__title {
      margin: 12px 0 31px 10px;
    }

    a {
      margin-left: 10px;
    }
  }

  .fruit4 {
    height: 338px;
  }

  .fruit5 {
    height: 404px;
  }

  .fruit6 {
    height: 365px;
  }

  .fruit7 {
    height: 469px;
  }

  .fruit8 {
    height: 348px;
  }

  .fruit9 {
    height: 334px;
  }

  .fruit10 {
    height: 364px;
  }

  .fruit11 {
    height: 362px;
  }

  .fruit12 {
    height: 321px;
  }

  .fruit13 {
    height: 365px;
  }

  .fruit14 {
    height: 345px;
  }

  .fruit {
    height: 345px;
  }
}

// about.html
.about {
  width: 250px;
  margin: 0 auto;
  padding: 36px 0 15px 0;
  a {
    color: #0079c1;
  }
  p {
    padding: 0;
    margin: 0;
    text-transform: none;
    font-size: 16px;
    text-align: left;
    color: #666;
    line-height: 1.5;
  }

  &__advantages {
    padding: 0;
    text-transform: none;
    font-size: 16px;
    text-align: left;
    color: #666;
    margin: 26px 0 33px 0;
    line-height: 1.5;

    @media (min-width: @screen-sm) {
      margin-bottom: 60px;
    }

    @media (min-width: @screen-lg) {
      margin-bottom: 75px;
    }
  }
  li {
    list-style-type: none;
  }

  @media (min-width: @screen-sm) {
    width: 580px;
  }

  @media (min-width: @screen-lg) {
    width: 1016px;
  }

  &__source {
    margin-bottom: 23px;

    // &:last-child {
    //   margin-bottom: 26px;
    // }
  }
  &__title {
    font-size: 18px;
    letter-spacing: 4px;
    margin-bottom: 24px;
  }
}


// contact.html
 // width="600" height="450" 
.contact {
  margin: 0 auto;
  // padding-top: 36px;
  padding: 36px 0 15px 0;
  

  &__inner {
    width: 250px;
    margin: 0 auto;
    @media (min-width: @screen-sm) {
      width: 580px;
    }
    @media (min-width: @screen-lg) {
      width: 1016px;
    }
  }



  &__map {
    width: 100%;
    height: 220px;
    @media (min-width: @screen-sm) {
      height: 365px;
    }

    @media (min-width: @screen-lg) {
      width: 500px;
      height: 313px;
      padding-top: 5px;
    }
  }

  &__adress {
    @media (min-width: @screen-lg) {
      width: 488px;
      margin-left: 30px;
    }

  }

  &__office, &__stock {
    margin-bottom: 24px;
    padding-top: 16px;
    @media (min-width: @screen-lg) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }


  
  &__office-title {
    margin: 20px 0 9px;
  }

  &__stock-title {
    margin: 21px 0 14px 0;
  }

  &__stock-title, &__office-title {
    font-size: 14px;
    letter-spacing: 3px;

    @media (min-width: @screen-sm) {
      font-size: 18px;
    }
    @media (min-width: @screen-lg) {
      margin: 0;
    }

  }

  &__title {
    font-size: 18px;
    letter-spacing: 4px;
  }
  p {
    color: #666;
    font-size: 14px;
    text-transform: none;
    margin: 0 0 3px 0;
    letter-spacing: 1px;
    @media (min-width: @screen-sm) {
      font-size: 16px;
    }
  }

   &__stock {
    p {
      letter-spacing: 0px;
    }
  }

  
}


// index.html
.main-page {


  
  background-image: url(../img/main320.png);
  background-repeat: no-repeat;
  background-position: 50% -3%;
  background-size: contain;
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.3);

    @media (min-width: @screen-sm) {
      max-width: @screen-sm;
      background-image: url(../img/main768.png);
    }

    @media (min-width: @screen-lg) {
      max-width: 100%;
      background-image: url(../img/main1260.png);
      background-position-y: -8%;
    }


  &__title {
    font-size: 26px;
    font-family: 'Comfortaa', cursive;
    text-transform: none;
    // background-color: #e4e6ea;
    margin: 0 auto;
    padding: 42px 0 150px 0;
    width: 100%;

    @media (min-width: @screen-sm) {
      padding-bottom: 0px;
      font-size: 60px;
    } 
    @media (min-width: @screen-lg) {
      width: 1016px;
      font-size: 94px;
    }


  }

   &__img {
      width: 220px;
      // margin: 0 auto;

      @media (min-width: @screen-sm) {
        width: 405px;
      }

      @media (min-width: @screen-lg) {
        width: 467px;
      }
    }

    &__fruit, &__bag, &__about {
      width: 248px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #a6a6a6;

      @media (min-width: @screen-sm) {
        width: 580px;
        padding-top: 50px;
        align-items: flex-start;
      }
      
      @media (min-width: @screen-lg) {
        width: 1016px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__fruit, &__bag {
      margin-bottom: 30px;
    }

    &__title-pages {
      font-size: 14px;
      font-family: @font-text;
      text-transform: uppercase;
      width: 100%;
      text-align: left;
      padding-right: 40px;

      @media (min-width: @screen-sm) {
        font-size: 18px;
      }
    }

    &__pop-btn {
      width: 100%;
      color: #648cff;
      text-align: left;
      font-size: 14px;

      @media (min-width: @screen-sm) {
        font-size: 16px;
      }
    }

    &__inner {
      width: 248px;
    margin: 0 auto;

    @media (min-width: @screen-sm) {
      width: 580px;

      p {
        width: 380px;
        text-align: left;
        margin: 0;
        font-size: 18px;
        padding-bottom: 225px;
      }
    }

    @media (min-width: @screen-lg) {
      width: 1016px;

      p {
        width: 586px;
        font-size: 24px;
        padding-bottom: 398px;
      }
    }
    }

  &__description {
    
   
  }

  p {
      // margin: 35px 0 30px 0;
      width: 246px;
      text-align: left;
      margin: 0 auto;
      padding: 35px 0 40px;
      text-transform: none;
      font-size: 14px;
    }

    &__about p {
      padding-bottom: 0;
      color: #666;
      @media (min-width: @screen-sm) {
        margin: 0;
        width: 465px;
        font-size: 18px;
      }
    }

    &__block {
      display: flex;
      flex-direction: column;

      @media (min-width: @screen-lg) {
        width: 415px;
      }
    }
}

.btn-to-page {
  padding: 20px 35px;
  background-color: #648cff;
  color: #fff;
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin: 30px 0 45px 0;
  font-size: 14px;

  @media (min-width: @screen-sm) {
    width: 368px;
    font-size: 16px;
  }

  @media (min-width: @screen-lg) {
    width: 350px;
    margin-top: 95px;
  }
}

// меню под jq
.fixmenu {
  // display: block;
  position: fixed;
  background-color: #fff;
  z-index: 11;
  top: 65px;
  left: 0;
  padding: 0 35px;
  box-shadow: 0px 3px 5px rgba(0,0,0,.11);
  // border-bottom: 1px solid rgba(0,0,0,.3);
  width: 100%;


  .main-menu__item:last-child {
    // width: 250px;
    padding-bottom: 20px;
  }
}

.openmenu{
  overflow: hidden;
}
