.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 140px 0 70px 0;

  &__title {
    text-align: center;
    padding-bottom: 30px;
    font-family: @font-title;
    font-size: @font-size30;
    font-weight: 500;
  }

  &__item-title {
    margin: 90px 0;
  }

  &__iframe {
    height: 400px;
    padding-bottom: 85px;
  }
}