.room-item {
  text-align: center;
  margin-bottom: 30px;

  @media(min-width: @screen-lg) {
    display: inline-flex;
    justify-content: center;
  }

  &__img {
  @media(min-width: @screen-xs) {
    width: 319px;
  }

  @media(min-width: @screen-sm) {
    text-align: center;
    width: 580px;
  }

  @media(min-width: @screen-lg) {
    width: 580px;
    order: 1;
  }
  }
  



  &__discriprion {
    padding-bottom: 50px;

    background-color: @color-gray;
    @media(min-width: @screen-xs) {
      width: 319px;
    }

    @media(min-width: @screen-sm) {
      width: 580px;
      display: inline-block;
    }

    @media(min-width: @screen-lg) {
      width: 580px;
    }
  }

  &__title {
    font-size: @font-size26;
    margin: 40px 0 20px 0;
  }

  &__text {
    font-size: @font-size16;
    margin: 40px 0 50px 0;

  }

}