.room-details {
  padding: 50px 0;
  text-align: center;

  &__title {
    font-size: @font-size30;
    margin-bottom: 18px;
    
  }

  &__item {
    display: inline-flex;
    text-align: center;
    margin: 50px 0;
    text-align: left;
  }

  &__img {
    width: 580px;
  }

  &__discription {
    width: 580px;
  }

  &__title-item {
    font-size: @font-size26;
  }

  &__text {
    font-size: @font-size16;
    padding: 25px 0;
  }

  &__advantages {
    font-size: @font-size16;
    columns: 2;
    list-style-type: none;
  }
}