.room-item {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  &__discriprion {
    background-color: @color-gray;
    // flex-grow: 1;
    width: 580px;
    padding-bottom: 50px;

  }

  &__title {
    font-size: @font-size26;
    margin: 40px 0 20px 0;
  }

  &__text {
    font-size: @font-size16;
    margin: 40px 0 50px 0;

  }

}